    .flex.items-center.justify-center.min-h-screen.from-gray-800.via-greeen-300.to-blue-500.bg-gradient-to-br
        .w-full.max-w-lg.px-10.py-8.mx-auto.bg-white.rounded-lg.shadow-xl
            .max-w-md.mx-auto.space-y-6
                .py-8.px-4.mx-auto.max-w-screen-xl(class='lg:py-16 lg:px-6')
                    .mx-auto.max-w-screen-sm.text-center
                        h1.mb-4.text-7xl.tracking-tight.font-extrabold.text-primary-600(class='lg:text-9xl dark:text-primary-500') 500
                        p.mb-4.text-3xl.tracking-tight.font-bold.text-black(class='md:text-4xl') Internal Server Error.
                        p.mb-4.text-lg.font-light.text-gray-500(class='dark:text-gray-400') We are already working to solve the problem. 