doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/styles/styles.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Product Page
    body 
    .container
        .grid-container
            each product in products
                .item-container
                a(href=`/products/${product.id}`)   
                    h2.item-heading= product.title
                p.item-description= product.description
                    a(target='_self' herf='/product/1') hii
                p.item-price
                    sup= product.price
                button.item-cart-btn Add To Cart